*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
}
:root {
	--GreenColor: #0ED17F;
	--BlackColor: #18191F;
	--BlueColor: #2A94F4;
	--boxShadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
	--Black5: rgba(0,0,0,0.5);
}
/*滚轮轨道相关*/
body::-webkit-scrollbar {
	width: 0;
}
body,html{
	width: 100%;
}
.gBody{
	max-width: 420px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background: #FFFFFF;
}
.firstPage{
	position: absolute;
	top: 0;
	background: #FFFFFF;
}
.gSelf{
	margin: 8px;
	height: 56px;
	padding: 16px;
	border-radius: 4px;
	background: var(--BlackColor);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transition: background-color .3s;
}

.gSelf b{
	color: #FFFFFF;
	font-size: 24px;
}
.gcolor{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 4px;
}
.gcolor div:nth-child(1){
	width: 10px;
	height: 10px;
	background-color: #0ED17F;
	border-radius: 50%;
}
.gcolor div:nth-child(2){
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	margin-left: 4px;
}
.gSelfRight{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.gSelfRight li{
	width: 48px;
	height: 48px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.gSelfRight li:active{
	transform: scale(0.9);
	transition: all .1s;
}
.self_level,.self_information,.self_logout{
	width: 36px;
	height: 36px;
}
.self_logout{
	background: url(../img/icon1.svg);
}
.self_information{
	background: url(../img/icon3.svg);
}
.self_level{
	background: url(../img/icon2.svg);
}
.gList{
	display: block;
	margin: 8px;
	padding: 16px;
	background-color: #FFFFFF;
	border-radius: 4px;
	box-shadow: var(--boxShadow);
	transition: background-color .3s;
	cursor: pointer;
}
.gList:active{
	background-color: #EDEDED;
}
.gTitle{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.gTitle b{
	font-size: 20px;
	color: #18191F;
}
.leftOpen {
	border: solid;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	border-color: var(--Black5);
	transform: rotate(-45deg);
	margin-right: 8px;
	transition: transform .3s;
}
.gDownload{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 16px;
}
.gDownload i{
	font-size: 13px;
	color: var(--Black5);
}
.gUpdate{
	padding: 8px;
	font-size: 13px;
	line-height: 24px;
	color: #707070;
	background-color: #F6F6F6;
	margin-top: 16px;
	border-radius: 4px;
}
.historyMsg{
	margin-top: 16px;
	font-size: 13px;
	color: var(--Black5);
}
.historyMsg li{
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
.historyMsg p{
	margin-left: 16px;
	height: 20px;
	overflow: hidden;
}
.historyMsg p::after,.historyMsg p::before{
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	background: var(--BlackColor);
	width: 4px;
	height: 4px;
	border-radius: 50%;
}
.historyMsg p::before{
	background: var(--GreenColor);
	top: 10px;
}
.gSuggest{
	width: 100%;
	min-height: 48px;
	border: none;
	border-radius: 6px;
	margin-top: 16px;
	font-size: 14px;
	color: #18191F;
	background-color: rgba(0,0,0,0);
	outline: none;
	resize: none;
}
.gSuggest::-webkit-scrollbar {
	width: 4px;
}

.gSuggest::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,12%);
}
.btn{
	display: inline-block;
	background-color: #0ED17F;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	padding: 0 20px 0 20px ;
	color: #FFFFFF;
	border-radius: 2px;
	border: solid 1px rgba(0,0,0,0.05);
	box-shadow: var(--boxShadow);
	cursor: pointer;
}
.btn2{
	display: block;
	height: 40px;
	line-height: 40px;
	margin: 24px 8px 8px 8px;
}
.btn:hover{
	background-color: #0AC376;
	transition: background-color .3s;
}
.btn:active{
	transform: scale(0.95);
	transition: all .1s;
}
footer{
	padding: 16px;
	margin: 8px;
	border-radius: 4px;
	background-color: #18191F;
	box-shadow: var(--boxShadow);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 13px;
	color: rgba(255,255,255,0.8);
}
.secondPage{
	position: absolute;
	width: 100%;
	margin: 0 auto;
	border: none;
	background: #FFFFFF;
}
.secondPage_head{
	background: #FFFFFF;
	position: fixed;
	padding: 8px;
	padding-bottom: 7px;
	z-index: 100;
	top: -64px;
}
.page_name{
	background: var(--BlackColor);
	border-radius: 4px;
}
.secondPage_head2{
	margin: 0 0 16px 8px;
	font-size: 16px;
	font-weight: 600;
}
.secondPage_head p{
	color: #FFFFFF;
	text-align: center;
	line-height: 48px;
}
.left_btn{
	position: absolute;
	width: 32px;
	height: 32px;
	margin: 8px;
	background: url(../img/left_icon.svg)no-repeat;
	cursor: pointer;
}
.left_btn:active{
	transform: scale(0.9);
	transition: all .1s;
}
.close_btn{
	width: 32px;
	height: 32px;
	background: url(../img/close_icon.svg)no-repeat;
	cursor: pointer;
}
.close_btn:active{
	transform: scale(0.9);
	transition: all .1s;
}

.input_list,.msg_list{
	margin-top: 64px;
}
.secondPage_update{
	margin: 8px;
	padding: 8px;
	border-radius: 4px;
	box-shadow: var(--boxShadow);
}
.update_body{
	margin-top: 64px;
}
.update_title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	color: var(--Black5);
	margin-bottom: 8px;
}
.update_title p:nth-child(2){
	font-weight: 400;
}
.update_content{
	font-size: 15px;
	color: rgba(0,0,0,0.7);
	background: #F6F6F6;
	padding: 8px;
	border-radius: 4px;
}
.update_content li{
	margin-left: 16px;
	line-height: 24px;
	position: relative;
	font-size: 14px;
}
.update_content li::before{
	content: "";
	width: 6px;
	height: 6px;
	background: #0ED17F;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	left: -16px;
}
.secondPage_input{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 8px;
	margin-bottom: 8px;
	height: 40px;
	background-color: #FFFFFF;
	border-radius: 4px;
	box-shadow: var(--boxShadow);
	padding: 8px;
	font-size: 14px;
	color: rgba(0,0,0,0.8);
}
.secondPage_msg_list{
	margin: 8px;
	margin-bottom: 8px;
	padding: 8px;
	background-color: #FFFFFF;
	border-radius: 4px;
	box-shadow: var(--boxShadow);
}
.secondPage_msg_list p{
	font-size: 16px;
	font-weight: 600;
	color: rgba(0,0,0,0.8);
}
.msg_list_top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.msg_list_content{
	background: #F6F6F6;
	padding: 8px;
	margin-top: 8px;
	border-radius: 2px;
	border-radius: 4px;
	font-size: 13px;
	color: rgba(0,0,0,0.5);
}
.msg_list_button{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.msg_list_url{
	display: block;
	margin: 16px 0 8px 0;
	font-size: 13px;
	color: var(--Black5);
}
.color_input{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.color_input p{
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}
.secondPage_input input{
	border: none;
	text-align: end;
	background: none;
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}
.secondPage_input input[type="color"]{
	width: 16px;
	height: 16px;
}
.secondPage_input input[type="color"]:active{
	transform: scale(0.9);
	transition: all .1s;
}
.secondPage_input input[type="text"]{
	height: 100%;
}
.secondPage_input input[type="date"]{
	height: 100%;
	
}
.secondPage_input input[type="button"]{
	background: #F6F6F6;
}
.about_box{
	background: #F6F6F6;
	margin: 8px;
	margin-top: 64px;
	padding: 8px;
	border-radius: 4px;
	box-shadow: var(--boxShadow);
	font-size: 15px;
	color: rgba(0,0,0,0.8);
}
.loginForm{
	margin: 24px;
	margin-top: 120px;
}
.loginForm b{
	display: block;
	font-size: 24px;
	margin-bottom: 24px;
	text-align: start;
}
.loginForm form{
	width: 100%;
}
.loginForm input,.loginForm select{
	width: 100%;
	height: 48px;
	margin-bottom: 16px;
	border: none;
	border-bottom: solid 1px rgba(0,0,0,0.1);
	position: relative;
	transition: border-bottom-color .3s;
	background: #FFFFFF;
}
.loginForm input:focus{
	border-bottom: solid 1px var(--GreenColor);
}
.formBottom{
	width: 100%;
	display: flex;
	flex-direction: row;justify-content: space-between;
	margin-top: 12px;
}
.formBottom a{
	color: rgba(0,0,0,0.5);
	font-size: 13px;
}