*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
:root {
	--GreenColor: #0ED17F;
	--BlackColor: #18191F;
	--BlueColor: #2A94F4;
}
/*滚轮轨道相关*/
body::-webkit-scrollbar {
	width: 0;
}
body{
	width: 100%;
}
.firstPage{
	max-width: 420px;
	margin: 0 auto;
}
.gSelf{
	margin: 8px;
	height: 56px;
	padding: 16px;
	border-radius: 4px;
	background: var(--BlackColor);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transition: background-color .3s;
}

.gSelf b{
	color: #FFFFFF;
	font-size: 24px;
}
.gcolor{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 4px;
}
.gcolor div:nth-child(1){
	width: 10px;
	height: 10px;
	background-color: #0ED17F;
	border-radius: 50%;
}
.gcolor div:nth-child(2){
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	margin-left: 4px;
}
.gSelfRight{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.gSelfRight li{
	width: 48px;
	height: 48px;
	border-radius: 4px;
	margin-left: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color .3s;
}
.gSelfRight li:hover{
	background-color: #000000;
}
.gSelfRight img{
	width: 36px;
	height: 36px;
}
.gList{
	margin: 8px;
	padding: 16px;
	background-color: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
	transition: background-color .3s;
	cursor: pointer;
}
.gList:hover{
	background-color: #EDEDED;
}
.gTitle{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.gTitle b{
	font-size: 20px;
	color: #18191F;
}
.gTitle img{
	width: 20px;
	height: 20px;
}
.gUpdate{
	padding: 12px;
	font-size: 13px;
	color: #707070;
	background-color: #F6F6F6;
	margin-top: 16px;
	border-radius: 4px;
}
.historyMsg{
	margin-top: 16px;
	font-size: 13px;
	color: rgba(0,0,0,0.7);
}
.historyMsg li{
	margin-bottom: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
.historyMsg p{
	margin-left: 8px;
}
.historyMsg p::after,.historyMsg p::before{
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	background: var(--BlackColor);
	width: 4px;
	height: 4px;
	border-radius: 50%;
}
.historyMsg p::before{
	background: var(--GreenColor);
	top: 10px;
}
.gSuggest{
	width: 100%;
	min-height: 48px;
	border: none;
	border-radius: 6px;
	margin-top: 16px;
	font-size: 14px;
	color: #18191F;
	background-color: rgba(0,0,0,0);
	outline: none;
	resize: none;
}
.gSuggest::-webkit-scrollbar {
	width: 4px;
}

.gSuggest::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,12%);
}
.gSuggestSend{
	width: 64px;
	height: 32px;
	background-color: #0ED17F;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	color: #FFFFFF;
	border-radius: 2px;
	border: solid 1px rgba(0,0,0,0.05);
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	transition: background-color .3s;
}
.gSuggestSend:hover{
	background-color: #0AC376;
}
footer{
	padding: 16px;
	margin: 8px;
	border-radius: 4px;
	background-color: #18191F;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 13px;
	color: rgba(255,255,255,0.8);
}
